<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>口コミ投稿</h2>
    <%= render partial: 'form', locals: { shop: @shop, review: @review } %>
  </div>
</div>

<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[evaluation]'
});
</script>
